build/
build-*/
*.o
*.obj
*.exe
*.dll
*.so
*.lib
*.a


*.xmake/
.xmake/
compile_commands.json
packages/
.xmake/packages/

.vscode/
.clangd
.idea/
*.swp
*.swo
*~
.DS_Store

dep/
*.log
*.tmp
tmp/
*.cache
.cacke/
*.pid
*.seed
*.pid.lock

*.gcda
*.gcno
*.gcov
coverage/
htmlcov/

bin/
lib/
output/
